/* ****************************************************************************
Global Variables
**************************************************************************** */

:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --white: #fff;
  --font-size: 13px;
  --font-family: "Manrope", sans-serif;
}

/* ****************************************************************************
Global CSS Styling
**************************************************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background: var(--light-gray-blue);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* ****************************************************************************
Container CSS Styling
**************************************************************************** */

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vw;
  height: 40vh;
  background: var(--white);
  border-radius: 10px;
  display: flex;
}

.img-container {
  height: 100%;
  width: 38%;
  border-radius: 10px 0 0 10px;
  background: url(./images/drawers.jpg) no-repeat left/cover;
}

.text-container {
  height: 100%;
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ****************************************************************************
Text CSS Styling
**************************************************************************** */

.inner-text {
  width: 85%;
  height: 80%;
}

.inner-text h1 {
  font-weight: 700;
  color: var(--very-dark-gray-blue);
}

.inner-text p {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-blue);
  line-height: 1.8rem;
  margin-top: 1rem;
}

/* ****************************************************************************
Profile CSS Styling
**************************************************************************** */

.profile-container {
  width: 93%;
  height: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 1.5rem;
  position: relative;
}

.profile-img {
  width: 3rem;
  height: 100%;
  background: url(./images/avatar-michelle.jpg) no-repeat center/cover;
  border-radius: 50%;
}

.profile-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 4rem;
}

.profile-name {
  color: var(--very-dark-gray-blue);
}

.profile-date {
  font-weight: 500;
  color: var(--gray-blue);
  margin-top: -0.2rem;
}

.profile-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--light-gray-blue);
  background-image: url(./images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.2rem;
  position: relative;
}

/* ****************************************************************************
Active CSS Styling
**************************************************************************** */

.share-link {
  width: 12rem;
  height: 3rem;
  background: var(--very-dark-gray-blue);
  border-radius: 10px;
  position: absolute;
  bottom: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-link::after {
  content: "";
  position: absolute;
  width: 1.7rem;
  height: 1rem;
  background: var(--very-dark-gray-blue);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  z-index: 1;
  bottom: -26%;
  left: 50%;
  transform: translateX(-50%);
}

.icons-container {
  width: 65%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-container a {
  background: none;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  color: var(--gray-blue);
}

.icons-container img {
  width: 1rem;
  height: 1rem;
}

/* ****************************************************************************
Hidden Styling
**************************************************************************** */

.hidden {
  display: none;
}

.arrow-act {
  background: var(--dark-blue);
  background-image: url(./images/icon-share-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.second {
  display: none;
}

/* ****************************************************************************
Media Query Styling
**************************************************************************** */

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
    width: 20rem;
    height: 32rem;
  }
  .img-container {
    background-color: red;
    height: 35%;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .text-container {
    height: 65%;
    width: 100%;
  }
  .inner-text h1 {
    font-size: 1.2rem;
  }
  .inner-text p {
    width: 93%;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .share-link {
    width: 20rem;
    height: 4.5rem;
    position: absolute;
    transform: translateX(-80%);
    right: -200%;
    bottom: -0.9rem;
    border-radius: 0 0 10px 10px;
  }
  .share-link::after {
    display: none;
  }
  .icons-container {
    width: 75%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icons-container a {
    font-size: 0.7rem;
  }
  .second {
    display: block;
    margin-left: 2rem;
    margin-right: 0.2rem;
    background: var(--dark-blue);
    background-image: url(./images/icon-share-white.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
